<h1>出席</h1>
<p>自分の頭文字を選びましょう</p>

<ul class="list-syllabary-ja">
<li><%= link_to 'あ', '/list_of_names/index?initial=あ' %></li>
<li><%= link_to 'い', '/list_of_names/index?initial=い' %></a></li>
<li><%= link_to 'う', '/list_of_names/index?initial=う' %></a></li>
<li><%= link_to 'え', '/list_of_names/index?initial=え' %></a></li>
<li><%= link_to 'お', '/list_of_names/index?initial=お' %></a></li>
<li><%= link_to 'か', '/list_of_names/index?initial=か' %></a></li>
<li><%= link_to 'き', '/list_of_names/index?initial=き' %></a></li>
<li><%= link_to 'く', '/list_of_names/index?initial=く' %></a></li>
<li><%= link_to 'け', '/list_of_names/index?initial=け' %></a></li>
<li><%= link_to 'こ', '/list_of_names/index?initial=こ' %></a></li>
<li><%= link_to 'さ', '/list_of_names/index?initial=さ' %></a></li>
<li><%= link_to 'し', '/list_of_names/index?initial=し' %></a></li>
<li><%= link_to 'す', '/list_of_names/index?initial=す' %></a></li>
<li><%= link_to 'せ', '/list_of_names/index?initial=せ' %></a></li>
<li><%= link_to 'そ', '/list_of_names/index?initial=そ' %></a></li>
<li><%= link_to 'た', '/list_of_names/index?initial=た' %></a></li>
<li><%= link_to 'ち', '/list_of_names/index?initial=ち' %></a></li>
<li><%= link_to 'つ', '/list_of_names/index?initial=つ' %></a></li>
<li><%= link_to 'て', '/list_of_names/index?initial=て' %></a></li>
<li><%= link_to 'と', '/list_of_names/index?initial=と' %></a></li>
<li><%= link_to 'な', '/list_of_names/index?initial=な' %></a></li>
<li><%= link_to 'に', '/list_of_names/index?initial=に' %></a></li>
<li><%= link_to 'ぬ', '/list_of_names/index?initial=ぬ' %></a></li>
<li><%= link_to 'ね', '/list_of_names/index?initial=ね' %></a></li>
<li><%= link_to 'の', '/list_of_names/index?initial=の' %></a></li>
<li><%= link_to 'は', '/list_of_names/index?initial=は' %></a></li>
<li><%= link_to 'ひ', '/list_of_names/index?initial=ひ' %></a></li>
<li><%= link_to 'ふ', '/list_of_names/index?initial=ふ' %></a></li>
<li><%= link_to 'へ', '/list_of_names/index?initial=へ' %></a></li>
<li><%= link_to 'ほ', '/list_of_names/index?initial=ほ' %></a></li>
<li><%= link_to 'ま', '/list_of_names/index?initial=ま' %></a></li>
<li><%= link_to 'み', '/list_of_names/index?initial=み' %></a></li>
<li><%= link_to 'む', '/list_of_names/index?initial=む' %></a></li>
<li><%= link_to 'め', '/list_of_names/index?initial=め' %></a></li>
<li><%= link_to 'も', '/list_of_names/index?initial=も' %></a></li>
<li class="next-kana-empty"><%= link_to 'や', '/list_of_names/index?initial=や' %></a></li>
<li class="next-kana-empty"><%= link_to 'ゆ', '/list_of_names/index?initial=ゆ' %></a></li>
<li><%= link_to 'よ', '/list_of_names/index?initial=よ' %></a></li>
<li><%= link_to 'ら', '/list_of_names/index?initial=ら' %></a></li>
<li><%= link_to 'り', '/list_of_names/index?initial=り' %></a></li>
<li><%= link_to 'る', '/list_of_names/index?initial=る' %></a></li>
<li><%= link_to 'れ', '/list_of_names/index?initial=れ' %></a></li>
<li><%= link_to 'ろ', '/list_of_names/index?initial=ろ' %></a></li>
<li><%= link_to 'わ', '/list_of_names/index?initial=わ' %></a></li>
</ul>